/* Sección de Contribución */
.ods-info {
    max-width: 90%;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ods-info h2 {
    text-align: center;
    color: #09d6dd;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Línea de Tiempo */
.timeline {
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px; 
}

.timeline h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    color: #333;
}

.timeline-container {
    position: relative;
    margin: 20px 0;
    padding: 20px;
    border-left: 2px solid #09d6dd; 
}

.timeline-item {
    position: relative;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.timeline-item h3 {
    margin-top: 0;
    color: #0aa6ac;
    font-size: 1.5rem;
}

.timeline-item p {
    margin: 10px 0;
    font-size: 1rem;
    line-height: 1.5;
}

.timeline-container::before {
    content: '';
    position: absolute;
    top: 20px;
    left: -7px;
    width: 14px;
    height: 14px;
    background-color: #09d6dd; 
    border-radius: 50%;
}



/* Responsive */
@media (max-width: 1024px) {
    .timeline {
        padding: 10px;
        margin: 10px auto;
    }

    .timeline-container {
        padding-left: 15px;
    }

    .timeline-item h3 {
        font-size: 1.3rem;
    }

    .timeline-item p {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .ods-info h2 {
        font-size: 1.8em;
    }

    .timeline-container {
        padding-left: 10px;
        margin: 10px 0;
    }

    .timeline-item h3 {
        font-size: 1.2rem;
    }

    .timeline-item p {
        font-size: 0.85rem;
    }
}

@media (max-width: 480px) {
    .ods-info h2 {
        font-size: 1.5em;
    }

    .timeline {
        max-width: 100%;
        padding: 5px;
    }

    .timeline-container {
        padding-left: 8px;
        margin: 5px 0;
    }

    .timeline-item h3 {
        font-size: 1rem;
    }

    .timeline-item p {
        font-size: 0.8rem;
    }
}