/* ------------------------------
   Animaciones
   ------------------------------ */

/* Borde Equipo */
@keyframes borderColor {
    0% {
        border-color: rgb(255, 0, 0); /* Rojo */
    }
    16% {
        border-color: rgb(255, 165, 0); /* Naranja */
    }
    33% {
        border-color: rgb(255, 255, 0); /* Amarillo */
    }
    50% {
        border-color: rgb(0, 255, 0); /* Verde */
    }
    66% {
        border-color: rgb(0, 255, 255); /* Cian */
    }
    83% {
        border-color: rgb(0, 0, 255); /* Azul */
    }
    100% {
        border-color: rgb(255, 0, 255); /* Magenta */
    }
}

/* ------------------------------
   Sección del Equipo
   ------------------------------ */
.team-section {
    text-align: center;
    padding: 50px;
    background-color: #f9f9f9;
}

.team-section h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.team-section h4 {
    font-size: 1.2rem;
    color: #777;
    margin-bottom: 40px;
}

.team-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.team-member {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 280px;
    text-align: center;
    transition: transform 0.3s;
    overflow: hidden;
    border: 5px solid transparent; 
    animation: borderColor 3s linear infinite; 
}

.profile-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
    transition: transform 0.5s ease;
}

.team-member h5 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.team-member p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
    max-height: 100px; 
    overflow: hidden; 
    transition: max-height 0.5s ease;
}

.team-member.active p {
    max-height: 300px; 
}

.team-member .social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.team-member .social-links a {
    font-size: 1.5rem;
    color: #555;
    transition: color 0.3s, transform 0.3s;
}

.team-member:hover {
    transform: translateY(-10px);
}

.team-member:hover .profile-img {
    transform: rotate(10deg);
}

.team-member .social-links a:hover {
    color: #007bff;
    transform: scale(1.2);
}

/* ------------------------------
   Contenedor Principal
   ------------------------------ */
.container-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* ------------------------------
   Sección de Preguntas Frecuentes
   ------------------------------ */
.faq-section {
    max-width: 1200px; /* Ampliar el ancho máximo */
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-section h2 {
    text-align: center;
    color: #09d6dd;
    font-size: 2em;
    margin-bottom: 20px; 
}

/* ------------------------------
   Estilos del Formulario de Contacto
   ------------------------------ */
.container.contact-form {
    flex: 1;
    max-width: 45%;
    margin: 50px auto;
    padding: 20px;
    background-color: #88C69C;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(17, 17, 17, 0.548);
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-form .form-group {
    position: relative;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.contact-form .input-wrapper {
    position: relative;
}

.contact-form .input-wrapper i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #007bff;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
    margin-left: 30px;
}

.contact-form textarea {
    resize: vertical;
    height: 150px;
}

.contact-form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.contact-form button:hover {
    background-color: #0056b3;
}

.error-message {
    color: #F44336;
    font-size: 0.875em;
    display: block;
    margin-top: 5px;
}

.error-message::before {
    content: "⚠ ";
}

/* ------------------------------
   Estilos de Línea de Tiempo
   ------------------------------ */
.timeline {
    position: relative;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px; /* Ampliar el ancho máximo */
}

.timeline-container {
    position: relative;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.timeline-item {
    padding: 20px;
}

.timeline-item h3 {
    margin-top: 0;
    color: #0aa6ac;
    font-size: 1.5rem;
}

.timeline-item p {
    margin: 10px 0;
    font-size: 1rem;
    line-height: 1.5;
}

.timeline-container::before {
    content: '';
    position: absolute;
    top: 20px;
    left: -7px;
    width: 14px;
    height: 14px;
    background-color: #09d6dd; 
    border-radius: 50%;
}

/* Estilos responsivos */
@media (min-width: 768px) {
    .timeline-container {
        margin: 20px 0;
    }
    
    .timeline-container:nth-child(odd)::before {
        left: -7px;
    }
    
    .timeline-container:nth-child(even)::before {
        left: auto;
        right: -7px;
    }
}

/* ------------------------------
   Estilo de la Sección de Contacto
   ------------------------------ */
.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background: linear-gradient(to right, #f0f4f8, #d9e2ec);
}

.contact-form-container {
    width: 100%;
    max-width: 700px; /* Ampliar el ancho máximo */
    padding: 30px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form-container h3 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #555;
}

.input-wrapper {
    position: relative;
}

.input-wrapper i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #007bff;
}

.input-wrapper input[type="text"],
.input-wrapper input[type="email"],
textarea {
    width: 100%;
    padding: 12px 15px;
    padding-left: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f7f7f7;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}