/* Estilos para la línea de tiempo */
.timeline {
    padding: 2rem;
    background-color: #f4f4f4;
}

.timeline h2 {
    text-align: center;
    color: #42e61a;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}



.timeline-container {
    position: relative;
    max-width: 2000px; /* Aumentado el ancho máximo */
    margin: 0 auto;
    padding: 0 2rem;
}

.timeline-item {
    position: relative;
    padding: 1rem 0;
    border-left: 2px solid #007bff;
}

.timeline-item h3 {
    font-size: 1.5rem;
    color: #007bff;
    margin-bottom: 0.5rem;
}

.timeline-item p {
    margin: 0.5rem 0;
    line-height: 1.6;
    color: #555;
}

.timeline-item:nth-child(even) {
    padding-left: 3rem;
}

.timeline-item:nth-child(odd) {
    padding-right: 3rem;
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 12px;
    height: 12px;
    background-color: #007bff;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #fff;
}


/* Estilos responsive */

/* Para pantallas medianas (tabletas y móviles grandes) */
@media (max-width: 1024px) {
    .banner-text h1 {
        font-size: 2rem;
    }

    .banner-text p {
        font-size: 1rem;
    }

    .timeline-container {
        max-width: 800px;
        padding: 0 1rem;
    }

    .timeline-item {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .timeline-item h3 {
        font-size: 1.3rem;
    }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .banner {
        height: 30vh;
    }

    .banner-text h1 {
        font-size: 1.5rem;
    }

    .banner-text p {
        font-size: 0.9rem;
    }

    .timeline h2 {
        font-size: 1.5rem;
    }

    .timeline-container {
        max-width: 100%;
        padding: 0 1rem;
    }

    .timeline-item {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .timeline-item h3 {
        font-size: 1.2rem;
    }

    /* Ajustar las columnas para que se apilen verticalmente */
    .timeline-item:nth-child(even), 
    .timeline-item:nth-child(odd) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/* Para pantallas muy pequeñas (móviles muy pequeños) */
@media (max-width: 480px) {
    .banner-text h1 {
        font-size: 1.2rem;
    }

    .banner-text p {
        font-size: 0.8rem;
    }

    .timeline h2 {
        font-size: 1.3rem;
    }

    .timeline-item h3 {
        font-size: 1rem;
    }

    .timeline-item p {
        font-size: 0.9rem;
    }
}
