/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo global para el cuerpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
}

/* Estilos del header y navbar */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #0A6322;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}

#navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 30px;
    transition: background-color 0.3s ease;
    background: -webkit-linear-gradient(90deg, #8e7cc3,#41326d,#000000);background: linear-gradient(90deg, #8e7cc3,#41326d,#000000);
}

.logo {
    margin-right: 20px;
}

.logo img {
    width: 50px;
    height: 50px;
}

/* Estilo de las listas del navbar */
ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 10px; 
}

ul li {
    margin: 0 40px; 
    position: relative;
}

ul li a {
    text-decoration: none;
    color: #eeebeb;
    font-size: 18px;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
}

ul li a i {
    margin-right: 10px;
    font-size: 1.2em;
}

ul li a:hover {
    color: #007bff;
}

/* Efecto hover en los enlaces del navbar */
ul li::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #007bff;
    transition: width 0.3s ease;
}

ul li:hover::after {
    width: 100%;
}

/* Estilos del banner */
.banner {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Video stays behind the text */
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay for better text contrast */
    z-index: 0;
}

.banner-text {
    color: #fff;
    text-align: center;
    z-index: 1; /* Ensures text is above video and overlay */
}

.banner-text h1 {
    font-size: 3rem;
    animation: slideInLeft 1.5s ease-in-out;
}

.banner-text p {
    font-size: 1.5rem;
    animation: fadeIn 2s ease-in-out;
}

/* Animaciones para el banner */
@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Overlay de carga */
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-animation {
    text-align: center;
    color: #fff;
}

.loading-animation::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    border-top-color: white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Carrusel de imágenes */
.carousel {
    position: relative;    
    overflow: hidden;      
    width: 100%;           
    height: 500px; /* altura del carrusel */
    margin: 0.5px 0;        
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.55); 
    display: flex;          
    align-items: center;    
}

.carousel-wrapper {
    display: flex;
    width: 600%;
    height: 100%;
    transition: transform 1s ease-in-out;
}

.carousel-item {
    flex: 0 0 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.carousel-item img {
    width: 80%; /* ancho de la imagen */
    height: 97%; /* altura de la imagen */
    object-fit: cover; 
    border-radius: 20px;
}

/* Línea de tiempo */
.timeline {
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
}

.timeline h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    color: #4CBB17;
    border-bottom: 2px solid #4CBB17;
    padding-bottom: 10px;
}

.timeline-container {
    position: relative;
    margin: 20px 0;
    padding: 20px;
    border-left: 2px solid #4CBB17;
}

.timeline-item {
    position: relative;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.timeline-item:hover {
    background-color: #e0f2e9;
    transform: scale(1.02);
}

.timeline-item h3 {
    margin-top: 0;
    color: #4CBB17;
    font-size: 1.5rem;
}

.timeline-item p {
    margin: 10px 0;
    font-size: 1rem;
    line-height: 1.5;
}

.timeline-container::before {
    content: '';
    position: absolute;
    top: 20px;
    left: -7px;
    width: 14px;
    height: 14px;
    background-color: #4CBB17;
    border-radius: 50%;
}

/* Footer */
footer {
    background: -webkit-linear-gradient(90deg, #8e7cc3,#41326d,#000000);background: linear-gradient(90deg, #8e7cc3,#41326d,#000000);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
}

footer p {
    margin: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

footer a:hover {
    color: #e0e0e0;
}

/* Sección de galería de ODS */
.ods-gallery {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.55);
    text-align: center;
}

.ods-gallery h2 {
    color: #4CBB17;
    font-size: 2rem;
    margin-bottom: 20px;
}

.ods-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.ods-item {
    flex: 1 1 150px;
    max-width: 200px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.55);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ods-item img {
    width: 100%;
    height: auto;
    display: block;
}

.ods-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.55);
}

/* Estilo para la información expandida del ODS */
.ods-details {
    display: none; 
    background-color: #f0f0f0;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ods-item.active .ods-details {
    display: block; 
}


/* RESPONSIVE */


/* Estilos para el menú hamburguesa */
.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger i {
    font-size: 1.8em;
    color: white;
}

/* Media queries para dispositivos pequeños */
@media screen and (max-width: 768px) {
    ul {
        display: none;
        flex-direction: column;
        background-color: #0A6322;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    ul.active {
        display: flex;
    }

    ul li {
        margin: 20px 0;
    }

    .hamburger {
        display: block;
    }
}
