/* Contador de Vistas */
#visitCounter {
    position: fixed;
    bottom: 50px;
    right: 20px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Agregar sombra para mayor profundidad */
    transition: background-color 0.3s; /* Transición suave */
}

#visitCounter:hover {
    background-color: #218838; /* Color al pasar el mouse */
}