/* Modo oscuro */
body.dark-mode {
    background-color: #121212;
    color: #000000;
}

#darkModeToggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffcc00;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#darkModeToggle i {
    margin-left: 8px;
}

/* Animación del gatito */
#catAnimation {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#catAnimation.show-cat {
    opacity: 1;
    animation: bounce 2s ease;
}

@keyframes bounce {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-30px);
    }
}

/* Estilos adicionales para el modo oscuro */
body.dark-mode #navbar {
    background-color: #333;
}

body.dark-mode footer {
    background-color: #222;
    color: #fff;
}
